.send-input{
    margin-top: 25px;
}

.send-input md-input{
    width: 82%;
    float: left;
}

.send-input button{
    float: right;
    margin-left: 20px;
}

.content{
    float: right;
    width: 75%;
}

#message-box{
    overflow: auto;
    height: 450px;
}

#message-box ul li{
    list-style-type: none;
}