*, *:before, *:after {
    box-sizing: border-box;
}

.people-list {
    width: 260px;
    float: left;
    height: 630px;
    overflow: auto;
}

.people-list .search {
    padding: 20px;
}

.people-list input {
    border-radius: 3px;
    border: none;
    padding: 14px;
    color: white;
    background: #6A6C75;
    width: 90%;
    font-size: 14px;
}


.people-list .fa-search {
    position: relative;
    left: -25px;
}

.people-list ul {
    padding: 10px 20px 0;

}

.people-list ul li {
    list-style-type: none;
    padding-bottom: 20px;
}

.people-list img {
    float: left;
}

.user-profile-img{
    float: left;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 3px solid #65bc78;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.people-list .about {
    float: left;
    margin-top: 8px;
}

.people-list .about {
    padding-left: 8px;
}

.people-list .status {
    color: #92959E;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: #86BB71;
}

.offline {
    color: #E38968;
}

.me {
    color: #94C2ED;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}