<div class="people-list" id="people-list">
    <div class="search">
        <input type="text" placeholder="search" />
        <i class="fa fa-search"></i>
    </div>
    <ul class="list">
        <li *ngFor="let user of onlineUsers" class="clearfix">
            <div *ngIf="!user.image">
                <div class="user-profile-img" [ngStyle]="{'background-image': 'url(/assets/img/default_img_for_profile.jpg)'}"></div>
            </div>

            <div *ngIf="user.image">
                <div class="user-profile-img" [ngStyle]="{'background-image': 'url(' + user.image + ')'}"></div>
            </div>

            <div class="about">
                <div class="name">{{user.login}}</div>
                <div class="status">
                    <i class="fa fa-circle online"></i> online
                </div>
            </div>
        </li>
    </ul>
</div>